<a href="https://colab.research.google.com/github/michalgelman/Python_Project/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this task, there are 10 Python exercises. Try to answer as many as possible. Completing all exercises is preferred but not mandatory.

**Guidelines:**
*   The code should cover the input example as well as address more generalized inputs
*   If you have an assumption regarding the input, please state them in comment expression (`#your comment`) inside the code
*   No additional `import` of libraries is allowed to already imported on the code cell
*   The code on every exercise must not exceed 15 lines

**Exercise 1**

add a string to list

example input: `s='str', l=['a', 'b', 'c']`

expected output: `['a', 'b', 'c', 'str']`

In [ ]:
def add_string_to_list(s, l):
  # A string and a list concatenation 
  
  return l+[s] 

print(add_string_to_list('str', ['a', 'b', 'c']))

['a', 'b', 'c', 'str']

**Exercise 2**

multiply two numbers and divide the result by two

example input: `n1=3, n2=6`

expected output: `9`

In [ ]:
def mul_nums_and_divide_by_two(n1, n2):
  # Multiply 'n' variables and divide by 2
  
  return (n1*n2)/2

print(mul_nums_and_divide_by_two(n1=3, n2=6))

9.0

**Exercise 3**

print a number at the end of a message

example input: `n=42, message="the answer to life the universe and everything is"`

expected output: `"the answer to life the universe and everything is 42"`

In [ ]:
def print_num_at_the_end_of_message(n, message):
  # A string and a number concatenation
    # Turn the number into a string
  
  return message + " " + str(n)

print(print_num_at_the_end_of_message(n=42, message="the answer to life the universe and everything is"))

the answer to life the universe and everything is 42

**Exercise 4**

find the avarege value of a list of numbers

example input: `l=[5, 9, 12, 13, 0, 0.2]`

expected output: `6.533333333333334`

In [ ]:
def average(l):
  # Sum numbers and divide it by the list's length
  
  return sum(l)/len(l)

print(average(l=[5, 9, 12, 13, 0, 0.2]))

6.533333333333334

**Exercise 5**

mix alternately two lists

example input: `l1=['book', 'banana', 3.14, 'dog', 'robocop'], l2=[1, 2, 3, 4]`

expected output: `['book', 1, 'banana', 2, 3.14, 3, 'dog', 4,'robocop']`

In [ ]:
def alternately_mix_two_lists(l1, l2):
  # Create new list and mix alternately the two lists in there
  
  new_list = [None]*(len(l1)+len(l2))
  new_list[::2] = l1
  new_list[1::2] = l2
  
  return new_list

print(alternately_mix_two_lists(l1=['book', 'banana', 3.14, 'dog', 'robocop'], l2=[1, 2, 3, 4]))

ValueError: ignored

**Exercise 6**

randomly shuffle a list

Randomly shuffle items of a given list, so the probability of any item, to end up in each location of the output list is similar.

example input: `l=[5, 9, 12, 13, 0, 0.2, 'book']`

valid expected output: `[12, 0, 5, 13, book, 0.2, 9]`

In [ ]:
from random import randint

def random_shuffle(l):
  # Randomly shuffle a list using "randint"

  size=len(l)
  
  for i in range(0,size):
    j=randint(i,size-1)
    temp=l[i]
    l[i]=l[j]
    l[j]=temp
  
  return l

print(random_shuffle(l=[5, 9, 12, 13, 0, 0.2, 'book']))

[13, 'book', 0, 9, 12, 0.2, 5]

**Exercise 7**

lexical sort a list of words, starting from the second letter

for example, if we have a list of two words: ['a**r**gumentnt', 'b**a**nana'] the sorted result will be ['banana', 'argument'] since the second letter in the word 'banana' is 'a' precedes 'r' which is the second letter of 'argument'

example input: `l=['banana', 'argument', 'cat', 'pineapple']`

expected output: `['banana', 'cat', 'pineapple', 'argument']`

In [ ]:
def lexical_sort_starting_second_letter(l):
  # Sort the list by second letter using key sorting
  
  l.sort(key=lambda x: str(x)[1])
  
  return l

print(lexical_sort_starting_second_letter(['banana', 'argument', 'cat', 'pineapple']))

['banana', 'cat', 'pineapple', 'argument']

**Exercise 8**

sort paragraph's words by frequency 

example input: `p='''Reports that say that something hasn't happened are always interesting to me, because as we know, there are known knowns; there are things we know we know. We also know there are known unknowns; that is to say we know there are some things we do not know. But there are also unknown unknowns — the ones we don't know we don't know. And if one looks throughout the history of our country and other free countries, it is the latter category that tend to be the difficult ones.'''`

expected output: `{'know': 8, 'we': 7, 'are': 6, 'there': 5, 'that': 4, 'the': 4, 'to': 3, 'say': 2, 'known': 2, 'things': 2, 'also': 2, 'unknowns': 2, 'is': 2, 'ones': 2, 'dont': 2, 'Reports': 1, 'something': 1, 'hasnt': 1, 'happened': 1, 'always': 1, 'interesting': 1, 'me': 1, 'because': 1, 'as': 1, 'knowns': 1, 'We': 1, 'some': 1, 'do': 1, 'not': 1, 'But': 1, 'unknown': 1, '': 1, 'And': 1, 'if': 1, 'one': 1, 'looks': 1, 'throughout': 1, 'history': 1, 'of': 1, 'our': 1, 'country': 1, 'and': 1, 'other': 1, 'free': 1, 'countries': 1, 'it': 1, 'latter': 1, 'category': 1, 'tend': 1, 'be': 1, 'difficult': 1}`

In [ ]:
import re

def words_freq_in_paragraph(p):
  # Seperate words in a string and sort by their frequencies.

  frequency = {}
  allwords = re.findall(r'\b[a-z]{2,10}\b',p)

  for word in allwords:
      count = frequency.get(word,0)
      frequency[word] = count + 1
  
  new_list = sorted(frequency.items(), key=lambda item: -item[1])
  
  return new_list

print(words_freq_in_paragraph(p='''Reports that say that something hasn't happened are always interesting to me, because as we know, there are known knowns; there are things we know we know. We also know there are known unknowns; that is to say we know there are some things we do not know. But there are also unknown unknowns — the ones we don't know we don't know. And if one looks throughout the history of our country and other free countries, it is the latter category that tend to be the difficult ones.'''))

[('know', 8), ('we', 7), ('are', 6), ('there', 5), ('that', 4), ('the', 4), ('to', 3), ('say', 2), ('known', 2), ('things', 2), ('also', 2), ('unknowns', 2), ('is', 2), ('ones', 2), ('don', 2), ('something', 1), ('hasn', 1), ('happened', 1), ('always', 1), ('me', 1), ('because', 1), ('as', 1), ('knowns', 1), ('some', 1), ('do', 1), ('not', 1), ('unknown', 1), ('if', 1), ('one', 1), ('looks', 1), ('throughout', 1), ('history', 1), ('of', 1), ('our', 1), ('country', 1), ('and', 1), ('other', 1), ('free', 1), ('countries', 1), ('it', 1), ('latter', 1), ('category', 1), ('tend', 1), ('be', 1), ('difficult', 1)]

# New Section

**Exercise 9**

retrieve the title of a web page

example input: `url='http://www.chess.com'`

expected output: `'Chess.com - Play Chess Online - Free Games'`

In [ ]:
import requests
from bs4 import BeautifulSoup

def get_site_title(url):
  # Retrieve the title of a website from it's URL 
 
  r = requests.get(url)
  soup = BeautifulSoup(r.content, 'lxml')
  
  return soup.select_one('title').text

print(get_site_title(url='http://www.chess.com'))

Chess.com - Play Chess Online - Free Games

**Exercise 10**

Get next month start datetime

This fuction gets no parameters. It returns next month start datetime according to the time of execution. For example, if we execute the function at datetime `'2020-06-28 18:29:31'` the function will return the datetime `'2020-07-01 00:00:00'` which is the start time of the next month


---



---


valid expected output: `'2020-07-01 00:00:00'`

In [ ]:
from datetime import datetime

def get_next_month_start_datetime():
    # Gets execution time and returns the following month's starting time

    now=datetime.now()
    next_month=datetime(now.year, now.month+1 ,1 ,0 ,0)
    
    return next_month
    
print(get_next_month_start_datetime())

2020-08-01 00:00:00